.page.theme_dark   {
  --background-color: #000028;
  --section-frame-color: #FF0070;
  --section-title-color: #FF0070;
  --section-title-frame-color: #000028;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --hover-color: #FF007066;
  --cover-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .decorated__tape {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .decorated__tape {
    opacity: 1;
  }
}