.page.theme_light {
  --background-color: #fff1f7;
  --section-frame-color: #ff8dcb;
  --section-title-color: #353430;
  --section-title-frame-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF0070;
  --text-color: #353430;
  --hover-color: #32312d66;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  
  :root .decorated__tape {
    opacity: 0;
  }
}
