.page {
  max-inline-size: 1024px;
  background-color: var(--background-color);
  background-attachment: fixed;
}

.header {
  block-size: 100vb;
  max-inline-size: vi;
  max-block-size: 768px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
}

.decorated-zone {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  grid-template-rows: auto repeat(3, 1fr) auto;
}

.header-title {
  grid-column: 1 / span 4;
  grid-row: 3;
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 96.3px;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header-text {
  grid-column: 3 / span 4;
  grid-row: 4;
  justify-self: end;
  align-self: center;
  margin-right: var(--screen-margin-size);
  color: var(--section-title-frame-color);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.6px;
  background: var(--section-frame-color);
}

.tape-marker {
  width: 25px;
  height: 25px;
  border-style: solid;
  margin: var(--screen-margin-size);
}

.tape-marker:first-of-type {
  grid-column: 4;
  grid-row: 1;
  align-self: flex-end;
  border-width: 1px 1px 0 0;
  border-color: var(--section-frame-color);
}

.tape-marker:last-of-type {
  grid-column: 1;
  grid-row: 5;
  border-width: 0 0 1px 1px;
  border-color: var(--section-frame-color);
}

.decorated__tape {
  position: absolute;
  margin: var(--screen-margin-size);
  display: flex;
  flex-direction: row;
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
  gap: 6px;
  align-self: self-start;
}

.decorated__tape-label {
  color: var(--section-frame-color);
}

.decorated__tape-lamp {
  align-self: center;
  justify-self: center;
  width: 11px;
  height: 11px;
  margin: 6px;
  border-radius: 50%;
  background-color: var(--section-frame-color);
  filter: blur(1px);
}

.header__theme-menu {
  margin: var(--screen-margin-size);
  grid-column: 1 / span 4;
  grid-row: 1;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--section-frame-color);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 18px;
  list-style-type: none;
}

.header__theme-menu-item:last-child {
  margin-bottom: 0;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--section-color-title);
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color);
  color: var(--section-title-color);
  background-color: transparent;
  pointer-events: none;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17.5px;
  margin: 60px var(--screen-margin-size);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.main__section-title {
  grid-column: 1;
  grid-row: 1;
  color: var(--section-title-color);
  font-weight: 700;
  min-width: 314px;
  font-size: inherit;
}

.vertical-layout {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
}

.horizontal-layout {
  grid-row: 2;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20.1px;
}

.main__section-card {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-card-title {
  color: var(--section-title-frame-color);
  font-weight: 700;
  background-color: var(--section-frame-color);
  font-size: inherit;
  margin-top: 0;
}

.no-bold {
  font-weight: 400;
}

.subtitle {
  margin-top: 10px;
}

.main__section-card-text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.section-images {
  margin-top: 58px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
}

.section-images .main__section-card-title {
  grid-column: 1 / span 3;
}

.section-images .image-item {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.image-item:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin-bottom: 0;
}

.image-item:nth-of-type(2) {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
  margin-bottom: 0;
}

.image-item:nth-of-type(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  margin-bottom: 0;
}

.image-item:nth-of-type(4) {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin-bottom: 0;
}

.image-item:nth-of-type(5) {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  margin-bottom: 0;
}

.footer {
  block-size: 100vb;
  max-inline-size: vi;
  max-block-size: 768px;
}

.footer__title {
  grid-column: 1 / span 4;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 86.5%;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width <= 768px) {
  
  .page {
    max-inline-size: 768px;
  }

  .header {
    block-size: 1024px;
    max-block-size: 1024px;
  }

  .header-text {
    margin-bottom: 54px;
  }

  .header__theme-menu {
    margin-top: 70px;
    grid-row: 2;
    grid-column: 3 / span 4;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 12px;
  }

  .main__section-title {
    min-width: 236px;
  }

  .horizontal-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
  }

  .footer {
    block-size: 1024px;
    max-block-size: 1024px;
  }
}

@media (width <= 375px) {

  :root {
    --screen-margin-size: 10px;
  }

  .page {
    max-inline-size: 375px;
  }

  .header {
    block-size: 668px;
    max-block-size: 668px;
    margin-bottom: 40px;
  }

  .header-title {
    margin: 0 var(--screen-margin-size);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-text {
    grid-column: 1 / span 4;
    align-self: self-end;
    margin-bottom: 20px;
  }

  .header__theme-menu {
    margin-top: 30px;
    align-self: start;
  }

  .main__section {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .main__section-title {
    min-width: 236px;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }

  .section-images {
    gap: 10px;
    margin-bottom: 40px;
  }

  .footer {
    block-size: 668px;
    max-block-size: 668px;
  }

  .footer-title {
    justify-self: center;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
