:root {
  --header-title-color: #db00ff;
  --header-title-shadow-color: #ff0070;
  --header-title-shadow-light-color: #ff0070;
  --title-text-color: #000028;
  --title-text-back-color: #ff0070;
  --text-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --backcolor: #00183f;

  --button-text-color: #ff0070;
  --button-border-color: #353430;
  --button-border-hover-color: #32312d66;

  --cover-image: url(../images/cover-image-dark.png);
  --screen-margin-size: 20px;
}
